main {
    width:85%;
    margin:auto;

    .card {
        p {
            background-color:rgba(255,255,255,.3);

            :hover {
                background-color:#FFF;
            }
        }
    }
}