    main{
        width: 90%;
        margin: auto;
        background-image: url("../img/original/brooke-lark-08bOYnH_r_E-unsplash.jpg");
        height: 100vh;
        
        article{
            background-color: pink;
        }
        
        .jumbotron{
           background-color: rgba(250, 249, 249, 0.7);
           margin: 20vh 0 0 0;
           padding: 2em 0;
           
        }
        
    }

