main {
  width: 85%;
  margin: auto;
}

form {
  background: transparent;
}

.btn {
  background-color: #201C1D;
  border-style: none;
}

.btn:hover {
  background-color: #FCE2CC;
  color: #201C1D;
}
